.secret-card {
  width: 100%; /* Ajusta a la anchura del contenedor */
  max-width: 1500px; /* Ajusta la anchura máxima de la tarjeta */
  height: 500px; /* Ajusta la altura de la tarjeta */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  margin-bottom: 20px; /* Espacio entre filas */
  margin-left: auto; /* Centra la tarjeta */
  margin-right: auto; /* Centra la tarjeta */

  &:hover {
    transform: scale(1.05);
  }

  img {
    width: 100%;
    height: 300px; /* Ajusta la altura de la imagen */
    object-fit: cover;
  }

  .card-body {
    padding: 15px;
    height: 50%; /* Ajusta la altura del contenido */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .btn-primary {
    display: inline-block;
    text-align: center;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s;

    &:hover {
      background-color: #0056b3;
      transform: scale(1.05);
    }
  }

  .secret-title {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 0.5rem;
    
  }

  .secret-text {
    font-size: 1rem;
    color: #666;
    text-align: justify;
    margin-top: 1rem; /* Espacio encima del texto */
    margin-bottom: 1rem; /* Espacio debajo del texto */
  }
}

.cajas-secretos {
  text-align: justify;
}
